@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

body{
    font-family: 'Cardo', serif;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(123, 18, 137, 0.685);
    border-radius: 30px;
    width: 100wv;
}

nav h1{
    color: rgb(255,255,255)
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.button{
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 700;
    border: none;
    width: 90px;
    background-color: rgba(123, 18, 137, 0);
    cursor: pointer;
    color: rgb(255,255,255)
}

.button:hover{
    transform: scale(1.2);
}

.button:focus{
    font-weight: 700;
}

nav ul li:hover{
    transform: scale(1.0);
    cursor: pointer;
}

.list_of_products{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.itemCard{
    background-color: rgba(232, 9, 232, 0.105);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;
    gap: 10px;
}

.itemCard:hover{
    background-color: rgba(176, 9, 232, 0.201);
    border: 1px solid rgba(176, 9, 232, 0.201)
}

.imageCard{
    width: 200px;
    margin-top: 10px;
}

.tagCard{
    font-family: 'Cardo', serif;
    font-weight: 700;
    border: none;
    width: 70px;
    height: 20px;
    margin-right: 150px;
    background-color: rgba(123, 18, 137, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionCard{
    width: 260px;
}

.valueCard{
    font-weight: 700;
}

.cartCard{
    margin-bottom: 10px;
    border: none;
    font-family: 'Cardo', serif;
    font-size: 15px;
    background-color: rgba(232, 9, 232, 0.105);
}

.cartCard:hover{
    cursor: pointer;
    border-bottom: 1px solid rgba(176, 9, 232, 0.201);;
    background-color: rgba(176, 9, 232, 0.201);
}


.search-input {
    height: 30px;
    width: 70%;
    border: none;
    background-color: #f5f5f5;
}
  
.search-button {
    height: 30px;
    width: 30%;
    border: none;
    background-color: rgba(206, 9, 232, 0.344);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    gap: 10px;
}

.search{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 3px;
}

.search input{
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 30px;
    font-family: 'Cardo', serif;
    
}

.search input:hover{
    background-color: rgba(176, 9, 232, 0.201);
  }

.search input:focus{
    background-color: rgba(232, 9, 232, 0.251)
  }

.search button{
    border: none;
    border-radius: 5px;
    background-color: rgba(176, 9, 232, 0.356); 
    width: 200px;
    font-family: 'Cardo', serif;
    cursor: pointer;
}

.cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
  width: 30vw;
  height: 50vh;
}

.cart_title_head{
    background-color: rgba(123, 18, 137, 0.596); 
    color: rgb(255,255,255);
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty h4{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(123, 18, 137, 0.596); 
  color: rgb(255,255,255);
  width: 100%;
  height: 20%;
  position: relative;
  bottom: 10%;
}

.cart h5{
  font-size: 20px;
}

.items{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  background-color: rgba(123, 18, 137, 0.596); 
  width: 70%;
  height: 30%;
  color: rgb(255,255,255)
}

.empty{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(123, 18, 137, 0.182); 
  width: 70%;
  height: 100%;
}

.empty h5{
    display: flex;
}

.cart_list{
    display: flex;
    flex-direction: column;
    width: 70%;
    list-style: none;
}

.title_cart{
    font-size: 12px;
    font-weight: 700;
}

.item_cart{
    display: flex;
    align-items: center;
    gap: 50px;
}

.image_cart{
    width: 25%;
}

.button_cart_remove{
    display: flex;
    width: 104%;
    border: none;
    font-family: 'Cardo', serif;
    background-color: rgba(232, 9, 232, 0.538);
    cursor: pointer;
}

.button_cart_remove:hover{
    border-bottom: 1px solid rgba(176, 9, 232, 0.201);;
    background-color: rgba(176, 9, 232, 0.588);
}

.value_cart{
    font-weight: 700;
}

.none{
    display: none;
}

.block{
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(123, 18, 137, 0.182); 
    width: 70%;
    height: 100%;
    }

.cart_list_body{
    background-color: rgba(123, 18, 137, 0.182); 
    width: 70%;
    max-height: 100%;
    overflow-y : auto;
}

.dark_button{
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 700;
    border: none;
    width: 100%;
    background-color: rgba(123, 18, 137, 0);
    cursor: pointer;
    color: rgb(255,255,255)
}

.dark_button:hover{
    transform: scale(1.2);
}

.body_black_mode{
    background-color: rgb(0, 0, 0);
    color: rgb(255,255,255)
}

.elements_black_mode{
    color: rgb(255,255,255);
}

